<!DOCTYPE html>
<html>
<head>
  <title>Shinerd</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "shinerd/application", media: "all" %>

  <meta charset="utf-8"/>

  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://dagrejs.github.io/project/graphlib-dot/v0.6.3/graphlib-dot.js"></script>
  <script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>
</head>
<body>
<svg width=800 height=600>
  <g/>
</svg>
</body>
<script>
    // Create the input graph
    var g = new dagreD3.graphlib.Graph({ multigraph: true })
        .setGraph({})
        .setDefaultEdgeLabel(function() { return {}; });

    <% #require 'byebug'; byebug %>
    <% @nodes.each do |name, html| %>
    g.setNode("<%= name %>",  { labelType: 'html', label: "<%= html.html_safe %>" });
    <% end %>

    <% @edges.each do |e| %>
    g.setEdge("<%= e[:head] %>", "<%= e[:tail] %>");
    <% end %>

    var relations = {}
    <% @relations.each do |node, associated| %>
    var parents = {};
    var childs = {};
    <% if !(associated[:parent].empty?) %>
    parents = { parent: ['<%= associated[:parent].join("', '")%>'] }
    <% end %>
    <% if !(associated[:child].empty?) %>
    childs = { child: ['<%= associated[:child].join("', '")%>'] }
    <% end %>
    relations['<%= node %>'] = Object.assign(parents, childs)
    <% end %>

    // Create the renderer
    var render = new dagreD3.render();

    // Set up an SVG group so that we can translate the final graph.
    var svg = d3.select("svg"),
        svgGroup = svg.append("g");

    // Run the renderer. This is what draws the final graph.
    render(d3.select("svg g"), g);

    // Center the graph
    var xCenterOffset = (svg.attr("width") - g.graph().width) / 2;
    svgGroup.attr("transform", "translate(" + xCenterOffset + ", 20)");
    svg.attr("height", g.graph().height + 40);

    // change style of linked nodes and edges when hover
    d3.selectAll('.node')
        .on('mouseenter', function(nodeName){
            d3.select(`.${nodeName}`)
                .style("color", "orange");
            activateParents(nodeName);
            activateChilds(nodeName);
        })
        .on('mouseleave', function(nodeName){
            d3.select(`.${nodeName}`)
                .style("color", "black");
            deactivateNodes(nodeName);
        });

    let activateParents = (nodeName) => {
        if (relations[nodeName].parent === undefined) { return }
        Array.from(relations[nodeName].parent, name => {
            d3.select(`.${name}`).style('color', 'aqua');
        });
    };

    let activateChilds = (nodeName) => {
        if (relations[nodeName].child === undefined) { return }
        Array.from(relations[nodeName].child, name => {
            d3.select(`.${name}`).style('color', 'green');
        });
    };

    let deactivateNodes = (nodeName) => {
        var neighborNames = g.neighbors(nodeName);
        Array.from(neighborNames, name => {
            d3.select(`.${name}`).style('color', 'black');
        });
    };
</script>